/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilos del formulario */
.form-box {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.form-box h2 {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #333;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-register {
    text-align: center;
    margin-top: 20px;
}

.login-register a {
    color: #007bff;
    text-decoration: none;
}

.login-register a:hover {
    text-decoration: underline;
}


/* Estilos para los checkbox */
.input-box input[type="checkbox"] {
    appearance: none; /* Elimina los estilos nativos del sistema operativo */
    width: 5px; /* Tamaño del checkbox */
    height: 20px;
    border: 2px solid #070017; /* Borde del checkbox */
    border-radius: 20px; /* Bordes redondeados */
    margin-right: 5px; /* Espaciado a la derecha */
    cursor: auto; /* Cambia el cursor al pasar sobre el checkbox */
}

/* Estilo cuando el checkbox está marcado */
.input-box input[type="checkbox"]:checked {
    background-color: greenyellow; /* Cambia el fondo cuando está marcado */
    border-color: #070017; /* Cambia el color del borde cuando está marcado */
}

/* Estilo del texto junto al checkbox */
.input-box label {
    display: inline-block;
    vertical-align: super;
}

/* Ajusta el tamaño del texto junto al checkbox */
.input-box label,
.input-box input[type="checkbox"] {
    font-size: 15px;
}


