:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(230, 75%, 56%);
    --title-color: hsl(230, 75%, 15%);
    --text-color: hsl(230, 12%, 40%);
    --body-color: hsl(230, 100%, 98%);
    --container-color: hsl(230, 100%, 97%);
    --border-color: hsl(230, 25%, 80%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: poppins, sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
    --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
    :root {
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-wrap: nowrap;
    font-family: poppins, sans-serif;
    background-image: url('../img/Background.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

input,
button {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}


.search,
.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
    background-color: hsla(230, 75%, 32%, 0.1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    /* For Safari */
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

.search__close,
.login__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/*=============== HEADER & NAV ===============*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
    z-index: var(--z-fixed);
}
.text-danger {
      color: hsl(0, 80%, 50%) !important;  /* Rojo */
      background-color: hsl(0, 50%, 90%) !important;
    }

    .text-success {
      color: hsl(120, 65%, 35%) !important; /* Verde */
      background-color: hsl(120, 50%, 90%) !important;
    }

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.4s;
    display:
      max-width: 100%;
      height: 90px;
      vertical-align: middle;
      border-style: none;

      margin-bottom: 1rem;
      margin-top:1rem;
}

.nav__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__search,
.nav__login,
.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color 0.4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
    color: var(--first-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.15);
        width: 100%;
        padding-block: 4.5rem 4rem;
        transition: top 0.4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.4s;
}

.nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    top: 0;
}

/*=============== SEARCH ===============*/
.search__form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--container-color);
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
    padding-inline: 1rem;
    border-radius: 0.5rem;
    transform: translateY(-1rem);
    transition: transform 0.4s;
}

.search__icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.search__input {
    width: 100%;
    padding-block: 1rem;
    background-color: var(--container-color);
    color: var(--text-color);
}

.search__input::placeholder {
    color: var(--text-color);
}

/* Show search */
.show-search {
    opacity: 1;
    pointer-events: initial;
}

.show-search .search__form {
    transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login__form,
.login__group {
    display: flex;
    flex-direction: column;
}

.login__form {
    background-color: var(--container-color);
    padding: 2rem 1.5rem 2.5rem;
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
    border-radius: 2rem;
    gap: 1.5rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform 0.4s;
}

.login__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
}

.login__group {
    gap: 1rem;
}

.login__label {
    display: block;
    text-align: initial;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: 0.25rem;
}

.login__input {
    width: 100%;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--text-color);
}

.login__input::placeholder {
    color: var(--text-color);
}

.login__signup {
    margin-bottom: 0.5rem;
}

.login__signup a {
    color: var(--first-color);
}

.login__forgot {
    display: inline-block;
    color: var(--first-color);
    margin-bottom: 1.25rem;
}

.login__button {
    display: inline-block;
    background-color: var(--first-color);
    width: 100%;
    color: #fff;
    font-weight: var(--font-semi-bold);
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: box-shadow 0.4s;
}

.login__button:hover {
    box-shadow: 0 4px 24px hsla(230, 75%, 40%, 0.4);
}
/*=============Rol Usuario=============*/
.login__group {
    display: flex;
    flex-direction: column;
}

.login__checkbox {
    display: flex;
    align-items: center;
}
/* Show login */
.show-login {
    opacity: 1;
    pointer-events: initial;
}

.show-login .login__form {
    transform: translateY(0);
}
#continuarBtn {
    background-color: var(--first-color); /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Eliminar borde */
    border-radius: 0.5rem; /* Borde redondeado */
    padding: 1rem; /* Espaciado interno */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s, color 0.3s; /* Transici칩n suave */
}

#continuarBtn:hover {
    box-shadow: 0 4px 24px hsla(230, 75%, 40%, 0.4); /* Color de fondo al pasar por encima */
}
/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {

    .search,
    .login {
        padding-top: 10rem;
    }

    .search__form {
        max-width: 450px;
        margin-inline: auto;
    }

    .search__close,
    .login__close {
        width: max-content;
        top: 5rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-size: 2rem;
    }

    .login__form {
        max-width: 400px;
        margin-inline: auto;
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    .nav {
        height: calc(var(--header-height) + 2rem);
        gap: 3rem;
    }

    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__menu {
        margin-left: auto;
    }

    .nav__list {
        flex-direction: row;
        gap: 3rem;
    }

    .login__form {
        padding: 3rem 2rem 3.5rem;
    }
}

@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }
}



.Hero-Section {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* Cambiamos de center a space-between para separar las dos cajas */
    align-items: center;
    /* Alineamos verticalmente al centro */
    flex-direction: row;
    height: 100vh;
    width: 100%;
}


.Hero-Section .hero-content {
    text-align: center;
    padding: 0 20px;
    width: 45%;
    /* Modificamos el ancho para dar m치s espacio a la caja de contenido */
}

.Hero-Section .hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: poppins, sans-serif;
    font-weight: 600;
    color: #000357;

}

.Hero-Section .hero-content p {
    font-size: 1.5em;
    color: #0300c2;
    margin-bottom: 20px;
    font-family: poppins, sans-serif;
    font-weight: 400;
}

.Hero-Section .hero-content .btn {
    width: 200px;
    height: 50px;
    background: #7FC7D9;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.4em;
    color: #0F1035;
    font-weight: 600;
    transition: .5s;

}

.Hero-Section .hero-content-right {
    position: relative;
    /* Agregamos posici칩n relativa para manejar la posici칩n del formulario */
    width: 50%;
    /* Modificamos el ancho */
}



.Servicios {
    display: flex;
    padding: 20px;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    background-color: transparent;
}

.Left-Box {
    flex: 1;
    order: 1;
    height: auto;
    max-width: 40%;
    overflow: hidden;
    background-color: transparent;
    border-radius: 20px;
    margin-right: 20px;
}

.Left-Box img {
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Right-Box {
    flex: 1;
    order: 2;
    padding-left: 20px;
    padding-bottom: 0px;
    background-color: #f9f9f963;
    border-radius: 20px;
}

.Right-Box h2 {
    font-size: 2.4em;
    color: #000357;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

.Right-Box p {
    font-size: 1.5em;
    color: #000357;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
}

.Card-Container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.Card {
    flex: 1;
    border-radius: 20px;
    margin-right: 10px;
    min-height: 8vh;
    padding: 10px;
    position: relative;
    background-color: transparent;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.Card h3 {
    font-size: 1.5em;
    font-family: poppins, sans-serif;
    font-weight: 600;
    color: #000357;
    margin-bottom: 10px;
    text-align: center;

}

.Card p {
    font-size: 1.3em;
    font-family: poppins, sans-serif;
    color: #009a51;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;

}


.Description.hidden {
    display: none;
}


.Toggle-Button {
    position: absolute;
    bottom: 2px;
    background: none;
    border: none;
    cursor: pointer;
}

.Toggle-Button i {
    font-size: 2em;
    color: #009a51;
}

@media (max-width: 1000px) {

    .Left-Box,
    .Right-Box {
        flex: 100%;
        order: unset;
    }

    .Card p {
        align-content: center;
        align-items: center;
        justify-content: center;

    }

    .Left-Box {
        width: 100vw;
        margin-left: 20px;
        margin-bottom: 20px;
        max-width: 100vw;
    }
}

.Departamentos {
    display: flex;
    padding: 20px;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 100px;
    flex-direction: row;
}

.Left-Container {
    flex: 1;
    order: 1;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    max-width: 40vw;
}

.Left-Container h2 {
    font-size: 2.4em;
    color: #000357;
    margin-bottom: 10px;
}

.Left-Container p {
    font-size: 1.5em;
    color: #000357;
    font-weight: 300;
}

.Right-Container {
    flex: 1;
    order: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-left: 10px;
}

.Card-especialidad {
    background-color: #f9f9f963;
    border-radius: 20px;
    padding: 20px;
}

.Card-especialidad img {
    width: 39px;
    height: auto;
    display: inline-block;
    margin-bottom: -3px;
}

.Card-especialidad span {
    font-size: 2rem;
    color: #000357;
    display: inline-block;
}

.Card-especialidad h3 {
    font-size: 1.5em;
    color: #009a51;
    margin-bottom: 10px;
}

.Card-especialidad p {
    font-size: 1.1em;
    color: #000357;
}

@media (max-width: 1000px) {
    .Departamentos {
        flex-direction: column;
    }

    .Left-Container {
        max-width: 100%;
    }

    .Right-Container {
        grid-template-columns: repeat(1, 1fr);
    }
}


.Guia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.Guia-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.Guia-Container-Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    width: 100%;
}

.Guia-Container-Top h2 {
    font-size: 2em;
    color: #000149;
    margin-bottom: 20px;
    text-align: center;
}

.Guia-Container-Top h3 {
    font-size: 1.3em;
    color: #29a4dd;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
}

.Guia-Container-Bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

}

.Card-guia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f98c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex-basis: calc(20% - 20px);
}

.Card-guia i {
    font-size: 4em;
    color: #000149;
    margin-bottom: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Card-guia h4 {
    font-size: 1.2em;
    margin: 0;
    color: #000357;
    text-align: center;
    overflow: auto;
}

.Card-guia p {
    margin: 0;
    color: #365486;
    text-align: center;
    overflow: auto;
    font-size: 1em;
    margin-top: 10px;
    min-height: 9.2em;
    display: inline-flex;
    align-items: flex-start;
    align-self: self-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
}


@media (max-width: 1000px) {
    .Guia {
        margin-top: 20px;
    }

    .Guia-Container {
        flex-direction: column;
        align-items: center;
    }

    .Guia-Container-Top {
        order: 1;
    }

    .Guia-Container-Bottom {
        order: 2;
        flex-direction: column;
    }

    .Guia-Container-Bottom .Card-guia {
        flex-basis: 100%;
        margin: 5px 20px;
    }

    .Card-guia p {
        min-height: 5em;
        align-self: center;
    }
}




.ObrasSociales {
    text-align: center;
    padding: 50px 0;
    margin-top: 50px;
}

.ObrasSociales-Content {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.ObrasSociales-Intro {
    margin-bottom: 20px;
}

.ObrasSociales-Intro h2 {
    font-size: 2em;
    color: #000357;
    margin-bottom: 20px;
}

.ObrasSociales-Intro p {
    font-size: 1.3em;
    color: #009a51;
    margin-bottom: 20px;
    font-weight: 300;
}

.ObrasSociales-Cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.Card-ObraSocial {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 100%;
    max-width: 100%;
}

.Card-ObraSocial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Card-ObraSocial.ShowMore {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #333;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Card-ObraSocial.ShowMore h3 {
    font-size: 1.5em;
    color: #000357;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    font-weight: 400;
}

.Card-ObraSocial.ShowMore i {
    margin-left: 5px;
    color: #000357;
    font-size: 2em;
    margin-bottom: 8px;
}

.Card-ObraSocial.ShowMore:hover {
    background-color: #e0e0e0;
}

.Card-ObraSocial.ShowMore i {
    margin-left: 5px;
}

.Card-ObraSocial:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.AboutUs {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;

}

.AboutUs-Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.AboutUs-Text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.AboutUs-Text h2 {
    font-size: 2.4em;
    color: #000357;
    margin-bottom: 20px;
}

.AboutUs-Text p {
    font-size: 1.3em;
    color: #000357;
    margin-bottom: 20px;
    font-weight: 300;
}

.AboutUs-Image {
    flex-basis: 45%;

}

.AboutUs img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1000px) {
    .AboutUs {
        max-width: 100vw;
        width: 100vw;
    }

    .AboutUs-Content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .AboutUs-Text,
    .AboutUs-Image {
        flex-basis: 100%;
    }

    .AboutUs-Text {
        width: 100%;
        order: 2;
    }

    .AboutUs-Text h2 {
        font-size: 2em;
    }

    .AboutUs-Text p {
        font-size: 1.2em;
    }

    .AboutUs-Image {
        order: 1;
        margin-right: 50px;
    }

}

.Footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f946;
    border-radius: 20px;
}

.Contacto,
.RedesSociales {
    flex: 1;
    margin-right: 20px;
}

.Contacto h2,
.RedesSociales h2 {
    font-size: 1.5em;
    color: #000357;
    margin-bottom: 10px;
}

.Contacto p {
    font-size: 1.1em;
    color: #009a51;
}

.Iconos {
    display: flex;
}

.Iconos i {
    font-size: 2em;
    margin-right: 10px;
    color: #000357;
}

@Media (max-width: 100px) {
    .Footer {
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
    }

    .Contacto,
    .RedesSociales {
        margin-right: 0;
        margin-bottom: 20px;
        align-items: left;
        align-self: left;
        justify-content: left;
    }
}