<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Buscar Turnos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/profesionalDashboard.css">
    <style>
        .blur-background {
            background-image: url(/static/img/background-dashboard.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            /* Cambiado a 100vw */
            height: 100vh;
            /* Cambiado a 100vh */
            z-index: -1;
        }

        .wrapper {
            position: relative;
            z-index: 0;
        }
    </style>
</head>

<body>

<div class="blur-background"></div>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5"
               style="background-image: url(../static/img/logo.jpg);"></a>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">Perfil</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a th:href="@{/paciente/dashboard-paciente/modificar-paciente}"
                               onclick="mostrarFormulario()">Editar Perfil</a>
                        </li>
                        <li>
                            <a th:href="@{/paciente/dashboard-paciente/dar-baja-cuenta}"
                               onclick="mostrarConfirmacion()">Dar de baja cuenta</a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">Turnos</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a th:href="@{/paciente/dashboard-paciente/turnos-paciente/buscar-turnos}"
                               onclick="buscarTurnosProfesional()">Buscar profesional</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contacto Admin</a>
                </li>
            </ul>

        </div>
    </nav>

    <!-- Nav superior  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/paciente/dashboard-paciente}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Contenido de pagina  -->
        <div>
            <!-- Aquí cargamos dinámicamente la información del profesional -->
            <div th:if="${profesional != null}">
                <h3 th:text="${profesional.nombre + ' ' + profesional.apellido}"></h3>
                <p th:text="${profesional.especialidad}"></p>
            </div>
            <div class="form-group">
                <label for="datepicker">Selecciona una fecha:</label>
                <input type="text" id="datepicker" class="form-control">
            </div>
            <div id="horarioSeleccionado" class="mt-3">
                <label for="horarioInput">Selecciona un horario:</label>
                <select id="horarioInput" class="form-control">
                    <!-- Options will be populated dynamically -->
                </select>
            </div>
            <div class="mt-3">
                <textarea class="form-control" id="motivoConsulta" rows="3"
                          placeholder="Ingrese el motivo de su consulta para poder solicitar el turno:"></textarea>
            </div>
            <div>
                <button class="btn btn-primary mt-3" onclick="solicitarTurno()">Solicitar Turno</button>
            </div>
        </div>

    </div>
</div>


</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // Inicializa DataTables
        $('#dtBasicExample').DataTable();
    });

    $(document).ready(function () {
        // Inicializar el DatePicker
        $('#datepicker').datepicker({
            dateFormat: 'yy-mm-dd', // Formato de fecha
            onSelect: function (dateText, inst) {
                var urlParams = new URLSearchParams(window.location.search);
                var profesionalId = urlParams.get('profesionalId');
                obtenerHorariosDisponibles(profesionalId, dateText);
            }
        });
    });


    function obtenerHorariosDisponibles(profesionalId, fechaSeleccionada) {
        $.ajax({
            type: 'GET',
            url: '/paciente/dashboard-paciente/turnos-paciente/horarios-disponibles',
            data: {
                profesionalId: profesionalId,
                fecha: fechaSeleccionada
            },
            success: function (response) {

                actualizarSelectHorarios(response);

            },
            error: function (xhr, status, error) {
                $('#horarioInput').empty();
                $('#horarioInput').append('<option value="">No hay horarios disponibles para esta fecha</option>');
            }
        });
    }

    function solicitarTurno() {
    var urlParams = new URLSearchParams(window.location.search);
    var profesionalId = urlParams.get('profesionalId');
    var fechaSeleccionada = $('#datepicker').val();
    var horarioSeleccionado = $('#horarioInput').val();
    var motivoConsulta = $('#motivoConsulta').val();

    $.ajax({
        type: 'POST',
        url: '/paciente/dashboard-paciente/turnos-paciente/solicitar-turno',
        data: {
            profesionalId: profesionalId,
            fechaSeleccionada: fechaSeleccionada,
            horarioSeleccionado: horarioSeleccionado,
            motivoConsulta: motivoConsulta
        },
        success: function (response) {
            // Aquí puedes manejar la respuesta del servidor si es necesario
            console.log(response+"Turno solicitado con éxito");
        },
        error: function (xhr, status, error) {
            console.log('Error al solicitar el turno: ' + error);
        }
    });
}

    function actualizarSelectHorarios(horariosDisponibles) {
        console.log('Horarios disponibles: ' + horariosDisponibles.length);
        $('#horarioInput').empty();
        if (horariosDisponibles.length > 0) {
            $.each(horariosDisponibles, function (index, horario) {
                $('#horarioInput').append('<option>' + horario.horaInicio + ' - ' + horario.horaFin + '</option>');
            });
        } else {
            $('#horarioInput').append('<option value="">No hay horarios disponibles para esta fecha</option>');
        }
    }

</script>
</body>

</html>