<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Dar de Baja Cuenta Profesional</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">¿Desea dar de baja su cuenta?</h5>
      <form th:action="@{/profesional/darBaja}" method="post">
        <button type="submit" class="btn btn-primary mr-2">Sí</button>
        <a th:href="@{/profesional/dashboard-profesional}" class="btn btn-secondary">No</a>
      </form>
    </div>
  </div>
</body>

</html>