<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
            <a href="#" onclick="showSection('home')">Home</a>
            <a href="#" onclick="showSection('about')">Sobre nosotros</a>
            <a href="#" onclick="showSection('services')">Servicios</a>
            <a href="#" onclick="showSection('contact')">Contáctanos</a>
            <button class="btnLogin-popup" id="ingresarBtn"><a th:href="@{/login}">Ingresar</a></button>
        </nav>
    </header>

    <section id="home">
        <h2>Bienvenido a Nuestra Página Principal</h2>
        <p>Contenido del Home. Puedes agregar más información aquí.</p>
        <a th:href="@{/paciente/dashboard-paciente}">paciente</a> <br>
        <a th:href="@{/profesional/dashboard-profesional}">profesional </a>
    </section>

    <section id="about">
        <h2>Sobre Nosotros</h2>
        <p>Información sobre nuestra empresa u organización.</p>
    </section>

    <section id="services">
        <h2>Nuestros Servicios</h2>
        <p>Lista de servicios que ofrecemos.</p>
    </section>

    <section id="contact">
        <h2>Contactanos</h2>
        <p>Información de contacto y formulario de contacto.</p>
    </section>

    <footer>
        <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>