<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Paciente</title>
    <link rel="stylesheet" href="/ServicioSalud/src/main/resources/static/css/registro.css">
</head>

<body>

    <section class="form-box register">
        <h2>Registro de Paciente</h2>
        <form action="/registroPaciente" method="post">

            <div class="input-box">
                <input type="text" id="nombre" name="nombre" placeholder="Ingresar Nombre" th:value="${nombre}" required>
            </div>

            <div class="input-box">
                <input type="text" id="apellido" name="apellido" placeholder="Ingresar Apellido" th:value="${apellido}" required>
            </div>
            
            <div class="input-box">
                <input type="email" id="email" name="email" placeholder="Ingresar Correo Electrónico" th:value="${email}" required>
            </div>

            <div class="input-box">
                <input type="password" id="contrasena" name="contrasena" placeholder="Ingresar Contraseña" th:value="${password}" required>
            </div>

            <div class="input-box">
                <input type="password" id="contrasena2" name="contrasena2" placeholder="Repetir Contraseña" th:value="${password2}" required>
            </div>

            <div class="input-box">
                <select id="obrasocial" name="obrasocial" required>
                    <option selected disabled>Seleccione Obra Social</option>
                    <option th:each="obraSocial : ${T(com.appsalud.plataformaSalud.enumeraciones.ObraSocial).values()}"
                            th:value="${obraSocial}" 
                            th:text="${obraSocial}">
                    </option>
                </select>
            </div>
            

            <div class="input-box">
                <input type="text" id="dni" name="dni" placeholder="Ingresar DNI" th:value="${dni}" required>
            </div>

            <div class="input-box">
                <input type="text" id="direccion" name="direccion" placeholder="Ingresar Dirección" th:value="${direccion}" required>
            </div>

            <div class="input-box">
                <input type="text" id="telefono" name="telefono" placeholder="Ingresar Teléfono" th:value="${telefono}" required>
            </div>

            <div class="input-box">
                <input type="checkbox" id="aceptoTerminos" name="aceptoTerminos" required>
                <label for="aceptoTerminos">Acepto los términos y condiciones</label>
            </div>
            
            <button type="submit">Registrarse</button>
            
            <div class="login-register">
                <p>¿Ya tienes una cuenta? <a href="iniciarSesion.html">Iniciar Sesión</a></p>
            </div>
        </form>
    </section>
</body>

</html>

