<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Doctor</title>
    <link rel="stylesheet" href="/ServicioSalud/src/main/resources/static/css/registro.css">
</head>

<body>

    <div class="form-box register">
        <h2>Registro de Profesional</h2>
        <form action="#" method="post">

            <div class="input-box">
                <input type="text" id="nombre" name="nombre" placeholder="Ingresar Nombre" th:value="${nombre}" required>
            </div>

            <div class="input-box">
                <input type="text" id="apellido" name="apellido" placeholder="Ingresar Apellido" th:value="${apellido}" required>
            </div>
            
            <div class="input-box">
                <input type="email" id="email" name="email" placeholder="Ingresar Correo Electronico" th:value="${email}" required>
              </div>

              
              <div class="input-box">
                <input type="password" id="contrasena" name="contrasena" placeholder="Ingresar Contraseña" th:value="${password}" required>
            </div>

            <div class="input-box">
                <input type="password" id="contrasena2" name="contrasena2" placeholder="Repetir Contraseña" th:value="${password2}" required>
            </div>
            
            <div class="input-box">
                <select id="especialidad" name="especialidad" required>
                    <option selected disabled>Seleccione Su Especialidad</option>
                    <option th:each="especialidad : ${especialidades}" th:value="${especialidad}" th:text="${especialidad}">
                    </option>
                </select>
            </div>
            
            <div class="input-box">
                <input type="text" id="edescripcionEspecialidad" name="descripcionEspecialidad" placeholder="Describa su Especialidad" th:value="${descripcionEspecialidad}" required>
            </div>
            
            <div class="input-box">
                <input type="text" id="valorConsulta" name="valorConsulta" placeholder="Ingresar Valor de la consulta" th:value="${valorConsulta}" required>
            </div>
            
            <div class="input-box">
                <input type="text" id="matricula" name="matricula" placeholder="Ingresar Matricula" th:value="${matricula}" required>
            </div>
            
            <div class="input-box">
                <input type="text" id="dni" name="dni" placeholder="Ingresar DNI" th:value="${dni}" required>
            </div>

            <div class="input-box">
                <input type="text" id="direccion" name="direccion" placeholder="Ingresar Direccion" th:value="${direccion}" required>
            </div>

            <div class="input-box">
                <input type="text" id="telefono" name="telefono" placeholder="Ingresar Telefono" th:value="${telefono}" required>
            </div>
            
            <div class="input-box">
                <label>Seleccione Obras Sociales:</label>
                <fieldset>
                    <legend>Obras Sociales</legend>
            
                    <div th:each="obraSocial : ${T(com.appsalud.plataformaSalud.enumeraciones.ObraSocial).values()}">
                        <input type="checkbox" th:id="${obraSocial}" th:name="obrasociales" th:value="${obraSocial}" />
                        <label th:for="${obraSocial}" th:text="${obraSocial}"></label><br>
                    </div>
            
                </fieldset>
            </div> 

            <button type="submit" class="btn">Registrarse</button>
            
            <div class="login-register">
                <p>¿Ya tienes una cuenta? <a href="iniciarSesion.html">Iniciar Sesión</a></p>
            </div>
        </form>
    </div>

</body>
<script src="/ServicioSalud/src/main/resources/static/js/registroProfesional.js"></script>

<!-- <div class="input-box">
    <select id="especialidad" name="especialidad" required>
        <option selected disabled>Seleccione Su Especialidad</option>
        <option th:each="especialidad : ${especialidades}"
                th:value="${especialidad}" 
                th:text="${especialidad}">
        </option>
    </select>
</div>
<div class="input-box">
    <label>Seleccione Obras Sociales:</label>
    <fieldset>
        <legend>Obras Sociales</legend>

        <div th:each="obraSocial : ${T(com.appsalud.plataformaSalud.enumeraciones.ObraSocial).values()}">
            <input type="checkbox" th:id="${obraSocial}" th:name="obrasociales" th:value="${obraSocial}" />
            <label th:for="${obraSocial}" th:text="${obraSocial}"></label><br>
        </div>

    </fieldset>
</div> -->
<!-- <div class="input-box">
    <select id="especialidad" name="especialidad" required>
        <option th:if="${especialidad== null}" selected disabled>Seleccione Su Especialidad</option>
        <option th:value="PARTICULAR" th:selected="${obraSocial == 'PARTICULAR'}">PARTICULAR</option>
        <option th:value="CARDIOLOGIA" th:selected="${especialidad == 'CARDIOLOGIA'}">CARDIOLOGIA</option>
        <option th:value="PEDIATRIA" th:selected="${especialidad == 'PEDIATRIA'}">PEDIATRIA</option>
        <option th:value="CLINICO" th:selected="${especialidad == 'CLINICO'}">CLINICO</option>
        <option th:value="GINECOLOGIA" th:selected="${especialidad == 'GINECOLOGIA}">GINECOLOGIA</option>
    </select>
</div>

<div class="input-box">
    <label for="obrasocial">Seleccione Obras Sociales:</label>
    <div>
        <input type="checkbox" value="PARTICULAR"  id="PARTICULA" name="obrasociales">
        <label for=">PARTICULAR">PARTICULAR</label><br>
        </div>
        <div>
        <input type="checkbox" value="MEDICUS" id="MEDICUS" name="obrasociales">
        <label for=">MEDICUS">MEDICUS</label><br>
        </div>
        <div>
        <input type="checkbox" value="OSDE" id="OSDE" name="obrasociales">
        <label for=">OSDE">OSDE</label><br>
        </div>
        <div>
        <input type="checkbox" value="SWISS_MEDICAL" id="SWISS_MEDICAL" name="obrasociales">
        <label for=">SWISS_MEDICAL">SWISS_MEDICAL</label><br>
        </div>
        <div>
        <input type="checkbox" value="MEDIFE" id="MEDIFE" name="obrasociales">
        <label for=">MEDIFE">MEDIFE</label><br>
        </div>
        <div>
        <input type="checkbox" value="GALENO" id="GALENO" name="obrasociales">
        <label for=">GALENO">GALENO</label><br>
        </div>
        <div>
        <input type="checkbox" value="OMINT" id="OMINT" name="obrasociales">
        <label for=">OMINT">OMINT</label><br>
        </div>
        <div>
        <input type="checkbox" value="IOMA" id="IOMA" name="obrasociales">
        <label for=">IOMA">IOMA</label><br>
        </div>
        <div>
        <input type="checkbox" value="LITERAL" id="LITERAL" name="obrasociales">
        <label for=">LITERAL">LITERAL</label><br>
        </div>
        <div>
        <input type="checkbox" value="LUIS_PASTEUR" id="LUIS_PASTEUR" name="obrasociales">
        <label for=">LUIS_PASTEUR">LUIS_PASTEUR</label><br>
        </div>
        <div>
        <input type="checkbox" value="SANCOR_SALUD" id="SANCOR_SALUD" name="obrasociales">
        <label for=">SANCOR_SALUD">SANCOR_SALUD</label><br>
        </div>
        <div>
        <input type="checkbox" value="ACCORD_SALUD"  id="ACCORD_SALUD" name="obrasociales">
        <label for=">ACCORD_SALUD">ACCORD_SALUD</label><br>
        </div>
        <div>
        <input type="checkbox" value="FEDERADA_SALUD" id="FEDERADA_SALUD" name="obrasociales">
        <label for=">FEDERADA_SALUD">FEDERADA_SALUD</label><br>
        </div>
        <div>
        <input type="checkbox" value="UNION_PERSONAL" id="UNION_PERSONAL" name="obrasociales">
        <label for=">UNION_PERSONAL">UNION_PERSONAL</label><br>
        </div>
        <div>
        <input type="checkbox" value="OSDEPYM" id="OSDEPYM" name="obrasociales">
        <label for=">OSDEPYM">OSDEPYM</label><br>
        </div>
        <div>
        <input type="checkbox" value="OSPACP" id="OSPACP" name="obrasociales">
        <label for=">OSPACP">OSPACP</label><br>
        </div>
        <div>
        <input type="checkbox" value="OBSBA" id="OBSBA" name="obrasociales">
        <label for=">OBSBA">OBSBA</label><br>
        </div>
        <div>
        <input type="checkbox" value="OSUTHGRA" id="OSUTHGRA" name="obrasociales">
        <label for=">OSUTHGRA">OSUTHGRA</label><br>
        </div>
        <div>
        <input type="checkbox" value="HOSPITAL_ITALIANO" id="HOSPITAL_ITALIANO" name="obrasociales">
        <label for=">HOSPITAL_ITALIANO">HOSPITAL_ITALIANO</label><br>
        </div>
        <div>
        <input type="checkbox" value="OSECAC" id="OSECAC" name="obrasociales">
        <label for=">OSECAC">OSECAC</label><br>
        </div>
        <div>
        <div>
        <input type="checkbox" value="PREVENCION_SALUD" id="PREVENCION_SALUD" name="obrasociales">
        <label for=">PREVENCION_SALUD">PREVENCION_SALUD</label><br>
        </div>
        <div>
        <input type="checkbox" value="OSITAC" id="OSITAC" name="obrasociales">
        <label for=">OSITAC">OSITAC</label><br>
        </div>
        <div>
        <input type="checkbox" value="OSCAR" id="OSCAR" name="obrasociales">
        <label for=">OSCAR">OSCAR</label><br>
        </div>
</div> -->


</html>
