<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div id="register-box" class="form-box register">
        <h2>Registrate</h2>
        <section class="form-login">
            <h5>Seleccionar rol de la cuenta:</h5>
            <form th:action="@{/tipoUsuario}" method="POST">
            <input type="radio" class="form-check-input" id="pacienteRadio" th:name="tipoUsuario" th:value="paciente" />
            <label class="form-check-label" for="pacienteRadio">Paciente</label>
            <br />
            <input type="radio" class="form-check-input" id="profesionalRadio" name="tipoUsuario" th:value="profesional" />
            <label class="form-check-label" for="profesionalRadio">Profesional</label>
            <button type="submit" class="buttons" id="continuarBtn">Continuar</button>
            <!-- <input class="buttons" type="button" id="continuarBtn" value="Continuar" onclick="continuar()"  /> -->
        </form>
            <p>
                <a href="/ServicioSalud/src/main/resources/templates/iniciarSesion.html">¿Ya tengo Cuenta?</a>
            </p>
        </section>
    </div>
    <script src="/ServicioSalud/src/main/resources/static/js/iniciarSesion.js"></script>
</body>

</html>